{% include 'layout.html' %}

<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h3>Change your password for securing privacy!</h3>
            <p>Just in case, you must change your password immediately! Someone'll snipe it!</p>
        </div>
        {% if msg %}
            {% if msg == 'Password Updated'%}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
            {% endif %}
        {% endif %}
        <form  method="POST" action="#">
            <input type="text" name="username" placeholder="Enter your username" class="formbold-form-input input-margin" required />
            <input type="text" name="current_password" id="current_password" placeholder="Enter your current password" class="formbold-form-input input-margin" required />
            <input type="text" name="new_password" id="new_password" placeholder="Enter your new password" class="formbold-form-input input-margin" required />

            <button class="formbold-btn">
                Change password
            </button>
        </form>
    </div>
</div>